body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
table, th, tr, td {
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
th {
    font-weight: bold;
}