body {
    width:90%;
    margin-left:auto !important;
    margin-right:auto !important;
    text-align:center !important;
}
table, th, tr, td {
    border:1px solid black;
    text-align:center;
    font-size:12px;
}

.theader {
    font-weight:bold;
    text-align:center;
}
form {
    text-align:center;
}
label {
    padding-left:15px;
}
button {
    font-size:14px;
    text-align:center;
}
input {
    padding:5px;
    font-size:14px;
}
.bordered-form {
    padding:10px;
    font-size:14px;
    text-align:center;
    border:5px solid grey;
    outline:5px solid black;
}
.failed {
    border:5px solid red;
}
.menu {
    margin:0 auto;
    padding:5px;
    font-size:20px;
    text-align:center;
    border:5px solid grey;
    outline:5px solid black;
}
.menu-button {
    display: inline-block;
    padding:2px;
    margin: 1px;
    border:5px solid darkgoldenrod;
    outline:3px solid #5e5e5e;
}
.menu-button:hover {
    outline:3px solid darkred;
}

* {box-sizing: border-box;}

/*
FLOATING POPUP FORMS:
 */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 128px;
    left: 28px;
    width: 120px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    max-width: 400px;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}